body{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

img{
    border-radius: 20px;
}
/* HEADER */

.header{
    align-items: center;
    background-color: #FF7396;
    display: flex;
    gap:455px;
    justify-content: space-between;
    padding: 30px 300px;

}

.logo{
    color:#f9faf8;
    font-size:24px;
    font-weight: bold;
}

a{
    color: #f9faf8;
    font-size: 18px;
    text-decoration: none;
}

.container1{
    align-items: center;
    display: flex;
    gap: 25px;
}

/* PRESENTATION */

h1{
    color:#eb3764;
    font-size: 48px;
    font-weight: 1000;
    margin:0;
}

.presentation-button{
    background-color: #eb3764;
    border: none;
    border-radius: 8px;
    color:#e5e7eb;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 30px;
}

.presentation{
    background-color: #FF7396;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    padding: 80px 300px;
}

.presentation-text{
    color:#e5e7eb;
    font-size: 18px;
}

.candy{
    width: 500px;
    height: auto;
}

.container2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* INFO */

.image-info{
    width: 200px;
    height: 200px;
    object-fit: cover;

}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#eb3764;
    gap: 80px;
    text-align: center;
    padding: 80px 300px;

}

h2{
    font-size: 36px;
    font-weight: 1000;
}

.images-text{
    display: flex;
    gap: 52px;
    justify-content: center;
}


/* QUOTE */

.quote{
    background-color: #FFB4B4;
    color:white;
    padding: 80px 450px;

}

.quote-text{
    font-size: 36px;
    font-style: italic;
    font-weight: 50;
    text-align:justify;
}

.quote-author{
    text-align: right;
    font-size: 20px;
    font-weight: bold;
}

/* SIGN UP */


.box-signup{
    align-items: center;
    background-color: #eb3764;
    border-radius: 20px;
    color: white;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: 50px 300px;
    padding: 30px 150px;
}

.action{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0px;
}

.signup-button{
    border: 2px solid black;
    border-color:white;
    border-radius: 10px;
    color: white;
    background-color: #eb3764;
    height: 40px;
    width: 100px;
    
}

.sign-up{
    margin: 80px;
}

/* FOOTER */

.footer{
    background-color: #e25d5d;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}